// @import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html{
    font-size: 9px; 
    font-family: 'Montserrat', sans-serif;
}
body {
    box-sizing: border-box;
    font-weight: 500;
    line-height: 1.5;
    color: #ce8d4d;
    background-color: #e1f3c9;
}
header {
    position: absolute;
    padding: 1em;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2em);
    background: white;
}  
.link {
    text-decoration: none;
    color: black;
    font-size: 1.9rem;
}

a.logo {
    font-weight: bold;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

li a {
    padding: 1em;
}
li a:hover{
    opacity: .5;
}
.wrapper {
    display: grid;
    grid-template-columns: auto;
}

section {
    padding: 1em;
}

section > h1 h2{
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-size: 1.4rem;
}
.clipper {
    overflow: hidden;
}
.title{
    font-size: 4rem;
}
section.hero {
    padding-top: 58em;
    background: url('https://s3-media0.fl.yelpcdn.com/bphoto/3VEHEFWZt2gxfCsfQlrNtw/o.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: palegoldenrod;
}
section.hero2 {
    padding-top: 0em;
    background-color: wheat
}
section.hero3 {
    background-color: wheat
}
.side-p {
    width: 70%;
    font-size: 1.5rem;
    margin-bottom: 0;
    align-content: center;
}
// .side h1 {
//     margin-bottom: -20px;
//     margin-top: -50px;
// }
.main-p {
    width: 70%;
    font-size: 3rem;
    margin-bottom: 0;
    align-content: center;
    font-style: italic;
}
.clipper > h2 {
    font-size: 4rem;
}
section.side{
    background-color: #e9d59c;
}
.hours-p{
    font-size: 2rem;
}
.form{
    padding-top: 10px;
}
.testimonials_container{
    font-size: 2rem;
}
.testimonials_container > h1{
    font-size: 3rem;
}
.testi_title{
    font-size: 3.5rem;
    text-align: center;
}
.testimonials_container{
    margin: 50px auto
}
.testimonials_container h1{
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.testimonials_container p{
    text-align: center;
}
.profiles{
    text-align: center;
    border: 5px solid white;
    padding: 10px;
    align-items: center;
    background-color: #fff8d8;
}
.profiles img {
    align-content: center;
    border: 3px solid white;
    width: 15%;
    border-radius: 50%;
}
.profiles h3 {
    text-align: center;
}
.input {
    display: flex;
    margin-top: 10px;
}
.input-text{
    margin-right: 10px;
    margin-top: -20px;
}
.hero3 h1 {
    font-size: 7rem;
    text-align: center;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 32rem;
    background-color: #6a8f2fc4;
    margin: 20px;
    color: white;
    padding: 10px;
    overflow: auto;
    max-height: 480px;
}
.card:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}
.card-title{
    font-size: 2rem;
    text-align: center;
}
.card img {
    width: 30rem;
    height: 30rem;
}
.card p{
    font-size: 1.5rem;
    color: white;
    padding-top: 10px;
}
.services{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inner-main{
    background-color: #6a8f2fc4;
}
// .form{
//     margin-top: -100px;
// }
@media only screen and (min-width: 1020px) {

    header {
        background: none;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 70% auto;
        grid-template-rows: 60% auto;
        grid-template-areas:
            "hero side"
            "hero hours";
        height: 100vh;
    }

    section.hero {
        grid-area: hero;
    }
    section.hero2 {
        grid-area: hero;
    }
    section.hero3 {
        grid-area: hero;
    }  
    section {
        display: grid;
        grid-template-rows: auto;
        align-items: center;
    }
}
